<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <title>角色添加</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
   
    <link rel="stylesheet" href="${futRoot_mesSys}/statics/resources/layui/css/layui.css" media="all">
    <style type="text/css">
        .layui-form-item .layui-inline{ width:33.333%; float:left; margin-right:0; }
        @media(max-width:1240px){
            .layui-form-item .layui-inline{ width:100%; float:none; }
        }
        .layui-form-item .role-box {
            position: relative;
        }
        .layui-form-item .role-box .jq-role-inline {
            height: 100%;
            overflow: auto;
        }
         
     

    </style>
</head>
<body class="childrenBody">
<form class="layui-form" style="width:80%;">
<br>
    <div class="layui-form-item">
        <label class="layui-form-label">角色名</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input"  name="roleName" lay-verify="required" placeholder="请输入角色名">
        </div>
    </div>
    
    
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="num"  lay-verify="num"  placeholder="请输入排序">
            </div>
        </div>
  
     <input type="hidden" class="layui-input" name="id"  >
       
    </div>
    
       <div class="layui-form-item layui-form-text">
    <label class="layui-form-label">备注</label>
    <div class="layui-input-block">
      <textarea placeholder="请输入内容" name = "remark" class="layui-textarea"></textarea>
    </div>
    </div>
    
    

    <div class="layui-form-item">
        <label class="layui-form-label">是否启用</label>
        <div class="layui-input-block">
            <input type="checkbox" name="del" lay-skin="switch"  lay-filter="del"  lay-text="启用|禁用" checked>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="addUser">立即提交</button>
              <button id="closeIframe"   class="layui-btn layui-btn-danger">取消</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script src="${futRoot_mesSys}/statics/resources/layui/layui.js"></script>
<script>
var index = parent.layer.getFrameIndex(window.name); //当前窗口索引
    layui.use(['form','jquery','layer'],function(){
       var form = layui.form,
           $    = layui.jquery,
           layer = layui.layer,
           delFlage = false;    //默认启用用户
           //关闭iframe
           $('#closeIframe').click(function(){
               parent.layer.close(index);
           });
           
           form.verify({
               num : [/^[0-9]{1,9}$/, '必须输入1-9位数字啊']
           
               });
           
      
          form.on("submit(addUser)",function(data){
            var loadIndex = layer.load(2, {
                shade: [0.3, '#333']
            });
       
            //判断用户是否启用
            if(undefined !== data.field.del && null != data.field.del){
                data.field.del = false;
            }else{
                data.field.del = true;
            }

         
          
            $.ajax({
                type:"POST",
                url:"${futRoot_mesSys}/sys/role/vf/addRole",
                dataType:"json",
                contentType:"application/json", 
                data:JSON.stringify(data.field),
                success:function(res){
                    layer.close(loadIndex);
                    if(res.success){
                  
                        parent.layer.msg("角色添加成功!",{time:1500},function(){
                            //刷新父页面
                           /*  parent.location.reload(); */
                        	   parent.layer.close(index);
                               parent.layui.table.reload('test');
                        });
                    }else{
                        layer.msg(res.message);
                    }
                }
            });
            return false;
        });

    });
</script>
</body>
</html>